* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-style: normal;
    font-family: Microsoft YaHei, arial;
  }

  .twoColumnBox {
    margin: 6px 8px;
    overflow: hidden;
    padding-bottom: 25px;
  }

  .twoColumnBox ul {
    float: left;
    width: 49%;
  }

  .twoColumnBox ul:last-child {
    margin-left: 2%;
  }

  .twoColumnBox ul li {
    margin-bottom: 6px;
    padding: 5px;
    background-color: #ffffff;
  }

  .twoColumnBox ul li p:first-child {
    padding-top: 0px;
  }

  .twoColumnBox ul li p {
    padding-top: 4px;
  }

  .picBox img {
    display: block;
    width: 100%;
  }

  .namePrice {
    overflow: hidden;
    line-height: 20px;
  }

  .namePrice a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .namePrice a:first-child {
    font-size: 0.9em;
    color: #58b7e3;
    width: 65%;
    float: left;
  }

  .namePrice a:last-child {
    font-size: 0.8em;
    color: #f00;
    float: right;
    width: 35%;
    text-align: right;
  }

  .detailBox {
    font-size: 0.8em;
    color: #777;
  }